---
// Home page CTA Section
// ------------
// Description: A centered call to action section that contains: a title, text, a user review snippet, a button and a image.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import ChipNotification from '../../ui/ChipNotification.astro'
import { Image } from 'astro:assets'
import Button from '../../ui/Button.astro'
import AvatarGroup from '../../ui/AvatarGroup.astro'

// Content
// - Hero Image
import heroImage from '../../../assets/hero-remodelacion.jpg'
// - Avatares
import user1 from '../../../assets/avatars/avatar-cliente-01.jpg'
import user2 from '../../../assets/avatars/avatar-cliente-02.jpg'
import user3 from '../../../assets/avatars/avatar-cliente-03.jpg'
const avatars = [
	{ image: { src: user1.src, alt: 'Cliente CREYPASS' }, link: '/' },
	{ image: { src: user2.src, alt: 'Cliente CREYPASS' }, link: '/' },
	{ image: { src: user3.src, alt: 'Cliente CREYPASS' }, link: '/' }
]
---

<Section id="intro" padding="top" classes="bg-secondary-100 dark:bg-neutral-900">
	<Row>
		<Col span="2" />
		<Col span="8" align="center">
			<ChipNotification radius="rounded-full" classes="mb-6 bg-primary-500 text-white border-primary-500">
				<strong>Tasa 7.9%</strong> financiamiento directo
				<AvatarGroup avatars={avatars} radius="rounded-full" slot="button" />
			</ChipNotification>
			<h1 class="text-primary-500 dark:text-white text-4xl lg:text-5xl">Transforma tu <strong class="text-primary-500">espacio</strong> con financiamiento flexible</h1>

			<p class="pb-0 text-base lg:text-lg text-neutral-600 dark:text-neutral-300">Remodelación integral con planes de pago accesibles hasta 60 meses</p>
			<Button size="lg" link="https://wa.me/5217671173175?text=Hola%2C%20me%20interesa%20cotizar%20un%20proyecto%20de%20remodelaci%C3%B3n" classes="bg-primary-500 hover:bg-primary-600 border-primary-500 text-white">Cotizar mi proyecto</Button>
		</Col>
		<Col span="2" />
		<Col span="2" />
		<Col span="8">
			<Image
				src={heroImage}
				alt="CREYPASS - Remodelación y Financiamiento de Interiores"
				class="translate-y-8 shadow-2xl shadow-neutral-200 dark:shadow-neutral-950"
				format="webp"
			/></Col
		>
		<Col span="2" />
	</Row>
</Section>
